In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import scipy.stats as stats

In [2]:
sales = pd.read_csv(r"C:\Users\Muralidhar\BuyerRatio.csv")

In [3]:
sales

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
# Ho = All proportions are equal
# Ha = Not all Proportions are equal

In [5]:
sales_table=sales.iloc[:,1:6]
sales_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [6]:
sales_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [7]:
values=stats.chi2_contingency(sales_table)

In [8]:
values

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [9]:
type(values)

tuple

In [10]:
no_of_rows=len(sales_table.iloc[0:2,0])
no_of_columns=len(sales_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [11]:
Expected_value=values[3]

In [12]:
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [13]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(sales_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [14]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [15]:
if chi_square_statestic >= critical_value:
    print('Dependent (reject H0)')
else:
    print('Independent (accept Ha)')

Independent (accept Ha)

In [16]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [17]:
if pvalue <= 0.05:
    print('Dependent (reject H0)')
else:
    print('Independent (Accept Ha)')

Independent (Accept Ha)

In [18]:
# Ha = Not all propoertions are equal