In [1]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
custom= pd.read_csv(r"C:\Users\Muralidhar\Costomer+OrderForm.csv")

In [3]:
custom

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
custom.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
custom.tail()

    Phillippines   Indonesia       Malta       India
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

In [6]:
custom.isnull()

     Phillippines  Indonesia  Malta  India
0           False      False  False  False
1           False      False  False  False
2           False      False  False  False
3           False      False  False  False
4           False      False  False  False
..            ...        ...    ...    ...
295         False      False  False  False
296         False      False  False  False
297         False      False  False  False
298         False      False  False  False
299         False      False  False  False

[300 rows x 4 columns]

In [7]:
custom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [8]:
for column in custom.columns:
    print('Column: {} - Unique Values: {}'.format(column, custom[column].unique()))

Column: Phillippines - Unique Values: ['Error Free' 'Defective']
Column: Indonesia - Unique Values: ['Error Free' 'Defective']
Column: Malta - Unique Values: ['Defective' 'Error Free']
Column: India - Unique Values: ['Error Free' 'Defective']

In [9]:
print(custom["Phillippines"].value_counts(),custom["Indonesia"].value_counts(),custom["Malta"].value_counts(),custom["India"].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [21]:
result = ([271,267,269,280],[29,33,31,20])

In [22]:
result

([271, 267, 269, 280], [29, 33, 31, 20])

In [23]:
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])

In [13]:
stat

3.858960685820355

In [14]:
p

0.2771020991233135

In [19]:
print('dof=%d' % dof)
print(expected)

dof=3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [20]:
#Ho= % of defectiveness of all countries are equal 
#Ha = at least  one defective % is  not equal

In [24]:
expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [25]:
stat

3.858960685820355

In [26]:
p

0.2771020991233135

In [27]:
dof

3

In [30]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))

if abs(stat) >= critical:
    print('Dependent (reject H0),variables are related')
else:
    print('Independent (accept Ha), variables are not related')

probability=0.950, critical=7.815, stat=3.859
Independent (accept Ha), variables are not related

In [32]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (Accept Ha)')

significance=0.050, p=0.277
Independent (Accept Ha)

In [ ]:
#Ha = at least  one defective % is  not equal